* {
    box-sizing: border-box; /* Aplica a todos os elementos para evitar o problema de overflow */
}

body {
    background-color: black;
    background-image: url("/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    margin: 0; 
}

.inicio-nav h1{
    font-size: 2.5rem;
    color: white;
    font-weight: 800;
}

.inicio-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    height: auto;
}

.inicio-content {
    background-color: white;
    border-radius: 100px 100px 0 0;
    width: 100%;
    padding: 15px;
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 80px;
    margin: 0;
}


.inicio-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-form input{
    width: 25%;
    height: 40px;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 1.2rem;

    background-color: #B6E4ED;
    background-image: url("/lupa.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 90%;
    background-size: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0097B2;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    z-index: 10;
}


.clique{
    cursor: pointer;
}

.cards-list {
  display: flex;          
  flex-wrap: wrap;        
  gap: 20px;              
  justify-content: center;
  padding: 10px;
}

.card-wrapper {
  flex: 1 1 250px;   
  max-width: 300px;    
  box-sizing: border-box; 
}