.cards {
    background-color: #0097B2;
    color: white;
    width: 300px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-header span {
    font-size: 1.2rem;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 800;
}

.card-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

ul li {
    margin-bottom: 15px;
}

.juncao {
    display: flex;
}

.desc{
    width: 100%;
    display: block;
    text-align: left;
    padding-left: 20px;
}

/* Estilo do botão */
.card-btn {
    background-color: rgba(255, 255, 255, 0.81);
    color: #0097B2;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
}